PORT=3001

SUPABASE_URL=https://mvmxickxygghjmfnwvlk.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12bXhpY2t4eWdnaGptZm53dmxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc0NTI0NTgsImV4cCI6MjA3MzAyODQ1OH0.fVZj93uCz5plBpg2E1ZsZCFGC7jUy4O08_iiNng1U28

JWT_SECRET=XBhYmFzZSIsInJlZiI6Im12bXhpY2t4eWdnaGptZm53dmxrIiwicm9sZSI6ImFub24iLCJpYXQ
JWT_EXPIRES_IN=24h